

.exportcontrols-container {
  background-color: $background-grey;
  @extend .flex-horizontal;
  justify-content: center;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 75px;
  border-top: 1px solid #696c71;

  .button {
    margin: 1rem;
  }
}

.display-footer {
  height: 75px;
}
