
.idea-box {
  width: 1rem;
  height: 1rem;
  margin: .25rem;
}

.bg-1 {
  background-color: $idea-color-1;
}

.bg-2 {
  background-color: $idea-color-2;
}

.bg-3 {
  background-color: $idea-color-3;
}

.bg-4 {
  background-color: $idea-color-4;
}

.bg-5 {
  background-color: $idea-color-5;
}
