

.ideasdisplay-container-sorting {
    @extend .flex-vertical;
    width: 20%;
    min-height: 97px;
  }

.ideasdisplay-container-ideation {
  @extend .flex-vertical;
  width: 96px;
  min-height: 300px;
  align-self: flex-end;
}


  .idea-boxes-container {
    width: 100%;
    height: 100%;

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }

  .idea-boxes {
    @extend .flex-horizontal;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    min-height: 72px;
    margin-top: .5rem;
  }
