
.keywordform-container {
  margin: .5rem 0;
  form {
    @extend .flex-horizontal;
    margin: 0;
  }

}

.keywordform-input {
  background-color: $background-grey;
  color: white;
  display: inline-block;
  width: 130px;
  border: 1px solid white;
  margin: 0;

  &:active,
  &:focus {
    background-color: $background-grey;
  }
}


.keywordform-btn {
  margin: 0 0 0 1rem;
}
