
.sortTitle-1 {
  color: $idea-color-1;
  border: 1px solid $idea-color-1;
}

.sortTitle-2 {
  color: $idea-color-2;
  border: 1px solid $idea-color-2;
}

.sortTitle-3 {
  color: $idea-color-3;
  border: 1px solid $idea-color-3;
}

.sortTitle-4 {
  color: $idea-color-4;
  border: 1px solid $idea-color-4;
}

.sortTitle-5 {
  color: $idea-color-5;
  border: 1px solid $idea-color-5;
}
