
.sort-list {
  width: 15%;
  margin: 0 1rem;
}

.sortTitle {
  text-align: center;
  width: 100%;
  padding: .5rem;
}

.sortTitleClr-1 {
  color: $idea-color-1;
  border: 1px solid $idea-color-1;
}

.sortTitleClr-2 {
  color: $idea-color-2;
  border: 1px solid $idea-color-2;
}

.sortTitleClr-3 {
  color: $idea-color-3;
  border: 1px solid $idea-color-3;
}

.sortTitleClr-4 {
  color: $idea-color-4;
  border: 1px solid $idea-color-4;
}

.sortTitleClr-5 {
  color: $idea-color-5;
  border: 1px solid $idea-color-5;
}

.boxStage-sorting {
  @extend .flex-horizontal;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  min-height: 72px;
}

.boxStage-display {
  @extend .flex-vertical;
}

.lg-idea-box {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  padding: .5rem
}
